<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RestAssured">
   
  <test name="ALL TESTS">    
    <classes>
       <class name="test.flights_test"/>
       <class name="test.test_hotels"/>
    </classes>
     
  </test> <!-- Test -->
</suite> <!-- Suite -->